.page {
	display: flex;
	flex-direction: column;
}

.page__container { 
	position: relative;
	margin: 0 auto;
	min-width: 270px;
	width: 100%;
	min-height: 100vh;
	font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
	width: 6px;
	height: 127px;	
  }

::-webkit-scrollbar-thumb {
	background-color: #4f27bf;
	border-radius: 5px 0 0 5px;	
	max-height: 127px;
  }

  