.aside-navbar {
    position: fixed;
	top: 80px;
	left: 0;
	bottom: 0;
	width: 300px;
    height: 100%;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
	overflow-y: scroll;
	scrollbar-width: none;	
	transform: translateX(0);
	transition: .3s ease-in-out;
}

.aside-navbar::-webkit-scrollbar { 
	width: 0;
	height: 0; 
} 

.navbar__title {
    margin: 24px 0 36px 32px;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: #1c1c1e;
}

.navbar__list {
	width: 100%;
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0 0 0 32px;
}

/* .navbar__list-item {
padding-bottom: 40px;
} */

.aside-navbar_active {
	left: 0;
	transform: translateX(100%);
	transition: .3s ease-in-out;
}

@media screen and (max-width: 980px) {
     .aside-navbar {
         left: -300px;
		z-index: 1;
    } 
    
}